<!doctype html>
<html>
<head>
    <title>
        List
    </title>
    <style type="text/css">
        td {
            border: 1px solid blue;
        }
    </style>
</head>
<body>

<table>
    {% for person in people %}
        <tr>
            <td>
                <h4>
                    {{ person.name }}
                </h4>
            </td>
            <td>
                {{ person.event.date }}
            </td>
            <td>
                {{ person.event.name }}
            </td>
        </tr>
    {% endfor %}
</table>

<a href="/new">New</a>

</body>
</html>