<!doctype html>
<html>

<head>
    <title>
        New Contact
    </title>

<link rel="stylesheet" href="/css/form.css" />

</head>

<body>

<br/>

<form method="post">

    <h3>New Contact</h3>
    <br/>
    <p>
        <label for="fullName">Full Name <sup>*</sup></label>
        <input name="fullName" placeholder="Full Name" required/>
    </p>

    <p>
        <label for="date">Date of event</label>
        <input name="date" type="date"/>
    </p>

    <p>
        <label for="type">Type of event</label>
        <input name="type" placeholder="Type of event" required="true"/>
    </p>

    <p>
        <input type="submit" name="submit"/>
    </p>

</form>
</body>
</html>